<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta charset="utf-8">
    <link rel="shortcut icon" href="%PUBLIC_URL%/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#000000">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="copyright" content="Author">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="#000000">
    <meta name="apple-mobile-web-app-title" content="Application Name">
    <meta name="msapplication-TileColor" content="#000000">
    <meta name="format-detection" content="telephone=no">
    <meta name="robots" content="noindex, nofollow">
    <link rel="stylesheet" href="/public/stylesheets/styles.css">
</head>
<body>
<div class="button-box">
    <button class="to-analytics-button">analytics page</button>
</div>
<div id="menu" class="item">Menu</div>
<div class="box">
    <div id="news" class="item">News</div>
    <div id="article" class="item">Article</div>
</div>
<script src="/javascripts/jquery.min.js"></script>
<script async defer src="/public/javascripts/scripts.js"></script>
</body>
</html>

